.buttons {
    display: grid;
    grid-template-columns: repeat(9, 6fr);
    gap: 3px;
    max-width: 500px;
    margin: 0 auto;
}

.wanpai {
    display: flex;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 63px;
    border-radius: 4px;
    background-color: gray;
    margin: 1px;
    color: white;
    font-size: 2em;
    text-align: center;
    border: gray solid 6px;
}

.ura {
    background-color: black;
    border-color: black;
}

.rightAnswer {
    border-color: green;
}

.emptyAnswer {
    background-color: white;
    border-color: black;
}
